body{
  /* text-align: center; */
  background-color: rgb(214, 221, 227);
}
#form{
  height: auto;
  min-height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signin-page,.signin-page{
  width: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 1rem;
}
#footer-page{
  position: relative;
  bottom: -1rem;
  margin: 0;
  padding: 2rem;
  text-align: center;

}
.footer-social-links{
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

#error{
  min-height: 85vh;
  text-align: center;
}
#dashboard{
  min-height: 85vh;
  padding: 5rem 3rem;
}

.pie-header{
  display: flex;
  justify-content: space-between;
}
.pie-chart{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 33%;
}
.line-chart{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 67%;
}
.line-chart-graph{
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;

}
.charts{
  /* width: 100%; */
  height: 500px;
}
.pie-chart-graph{
  height: 85%;
}
.filter-box{
  width: 25%;
}
.search-box{
  width: 75%;
}
.transaction-btns{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (max-width: 1250px) {
  #dashboard{
    padding: 5rem 8px 8px 8px
  }
  .pie-header{
    display: flex;
    /* flex-direction: column; */
  }
  .pie-chart{
    height: 100%;
    width: 40%;
  }
  .line-chart{
    height: 100%;
    width: 60%;
  }
  .charts{
    height: 450px;
  }
  .pie-chart-graph{
    height: 350px;
  }
  .line-chart-graph{
    height: 350px;
  }
}

@media (max-width: 1024px) {
  .charts{
    height: 400px;
  }
  .pie-header{
    display: flex;
    flex-direction: column;
  }
  .pie-chart{
    height: 100%;
    width: 40%;
  }
  .line-chart{
    height: 100%;
    width: 60%;
  }
  .pie-chart-graph{
    height: 300px;
  }
  .line-chart-graph{
    height: 400px;
  }
  .filter-box{
    width: 35%;
  }
  .search-box{
    width: 65%;
  }
  
}

@media (max-width: 768px){
  .signin-page{
      width: 90%;
      padding: 1rem;
  }
  .charts{
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .pie-chart{
    height: 100%;
    width: 100%;
  }
  .line-chart{
    height: 350px;
    width: 100%;
  }
  .pie-header{
    display: flex;
    flex-direction: row;
  }
  .pie-chart-graph{
    height: 330px;
  }
  

}

@media (max-width: 560px) {
  .transaction-btns{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .line-chart{
    height: 300px;
    width: 100%;
  }
  .sort-btns{
    font-size: .9rem;
  }
}